port 638${PORT}
requirepass 1234
masterauth 1234
protected-mode no
daemonize no
appendonly yes
cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 15000
cluster-announce-ip 10.0.0.12${PORT}
cluster-announce-port 638${PORT}
cluster-announce-bus-port 1638${PORT}